.card-wrapper {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 0;
}

.card-wrapper svg {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  object-fit: contain;
}

.card-wrapper #cursor,
.card-wrapper #box,
.card-wrapper #text {
  cursor: pointer;
}

.card-wrapper #cursor {
  overflow: visible;
  transform: translate3d(300px, 0, 0) scale(1);
  transform-origin: center center;
  transform-box: fill-box;
  animation: cursor 5s ease infinite alternate;
}

@keyframes cursor {
  0% {
    opacity: 0;
    transform: translate3d(300px, 0, 0) scale(1);
  }

  30% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }

  60% {
    opacity: 1;
    transform: translate3d(-200px, -200px, 0) scale(1);
  }

  /* clique */
  65% {
    opacity: 1;
    transform: translate3d(-200px, -200px, 0) scale(0.95);
  }

  70% {
    opacity: 1;
    transform: translate3d(-200px, -200px, 0) scale(1);
  }

  100% {
    opacity: 1;
    transform: translate3d(-300px, -50px, 0) scale(1);
  }
}

.card-wrapper #box {
  opacity: 0;
  animation: box 5s ease infinite alternate;
}

@keyframes box {
  0%,
  60% {
    opacity: 0;
  }

  65%,
  100% {
    opacity: 1;
  }
}
